<!DOCTYPE HTML>
<html>
  <head>
      <title>WebSocket Demo</title>
      <link href="https://fonts.googleapis.com/css?family=Kulim+Park|Roboto&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <link rel="stylesheet" href="public/styles.css">
  </head>
  <body>
    <div id="app">
      <h2 class="center">Vue + Websocket Demo</h2>

      <!-- WEBSOCKET STATUS OUTPUT -->
      <div class="center status-container">
        <span><b>Websocket Status:</b></span>
        <span id="status">{{ status }}</span>
      </div>

      <div v-if="notConnected" id="connection-init" class="center">
        <!-- INITIALIZE WEBSOCKET SERVER CONNECTION -->
        <p>
          Welcome to Duhmerican Instant Messenger, or DIM.
        </p>
        <div class="center">
          <img src="public/dim_guy.png" alt="Dim Guy" class="dimguy" />
        </div>
        <p>
          Would you like to connect and chat?
        </p>
        <div class="button" v-on:click="connectToWebsocketServer">
          Connect to Messenger
        </div>
      </div>
      <div v-else id="chat-container">
        <!-- CHAT WITH FRIENDS ONCE SERVER IS CONNECTED -->
        <h2>DIM Online</h2>
        <div id="friend-list">
          <h3>All Friends</h3>
          <ul>
            <li v-for="friend in friends">{{ friend.userName }}</li>
          </ul>
        </div>
        <div id="chat-area">
          <h3>Chat History</h3>
          <div id="messages">
            <span v-if="messages">
              <div v-for="message of messages">
                {{ message.name }}: {{ message.text }}
              </div>
            </span>
          </div>
          <h3>Send Message to beans4dinner2004</h3>
          <textarea v-model="outgoingMessage" id="outgoing-message"></textarea>
          <div class="button" v-on:click="sendMessageToFriend('beans4dinner2004')">
            Send
          </div>
        </div>
        <div class="disconnect-wrapper">
          <div class="button" v-on:click="closeConnection">Disconnect</div>
        </div>
      </div>
    </div>
    <script src="public/app.js"></script>
  </body>
</html>